<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ pageTitel }}</title>
  </head>
  <body>
    {{> header}}
    <h2>Portfolio</h2>

    {{> footer }}
  </body>
</html>
